<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link href="/css/bootstrap.css" rel="stylesheet"></link>
    <link href="/css/main.css" rel="stylesheet"></link>
     <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <style>
            ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #fcf1fa;
            }

            li {
            float: left;
            }

            li a {
            display: block;
            font-family: 'Fredoka One', cursive;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            }

        </style>
    <title>Zhifen Li's Blog</title>
  </head>
  <body>
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#" style ="font-family: 'Fredoka One', cursive;">WEB322 - Zhifen Li</span>
        </div>
    <div class="root">


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-form" style="background-color: white;">
            {{!-- {{#navLink "/blog"}}Blog{{/navLink}} --}}
              <a href="/blog" class="btn btn-primary"><span class="glyphicon">Blog</span>&nbsp;&nbsp;</a>

            {{!-- {{#navLink "/about"}}About{{/navLink}} --}}
              <a href="/about" class="btn btn-primary"><span class="glyphicon">About</span>&nbsp;&nbsp;</a>

          </ul>


          {{#if data.session.user }}
          <form class="navbar-form navbar-right">
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{session.user.userName}}&nbsp;&nbsp;<span
                          class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="userMenu">
                      <li><a href="/userHistory">User History</a></li>
                      <li><a href="/logout" class="btn btn-primary">Log Out</a></li>
                  </ul>
              </div>
          </form>
          {{else}}
          <form class="navbar-form navbar-right">
              {{#if user}}
              <a href="/logout" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Log Out</a>
              {{else}}
              <a href="/register" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
              <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
              {{/if}}
          </form>
          {{/if}}
          <ul class="nav navbar-nav navbar-form navbar-right" style="background-color: white;">
             {{!-- {{#navLink "/posts"}}Posts{{/navLink}} --}}
              <a href="/posts" class="btn btn-primary"><span class="glyphicon">Posts</span>&nbsp;&nbsp;</a>

             {{!-- {{#navLink "/posts/add" }}Add Posts{{/navLink}} --}}
             {{!-- {{#navLink "/categories" }}Categories{{/navLink}} --}}
              <a href="/categories" class="btn btn-primary"><span class="glyphicon">Categories</span>&nbsp;&nbsp;</a>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



   <div class="container">
    {{{body}}}
   </div>
   
  </body>
</html>
