<div style="display:flex">
  <h1 style="display: inline-block; margin: auto 100px;"><b>About:
      {{data.name}}</b></h1>

  <h1 style="display: inline-block; margin: auto 100px;"><b>Coming Soon...</b></h1>
</div>