<div class="post-form-body">
  <h2><b>Add Category</b></h2>
  <form action="/categories/add" method="POST">

    <hr />

    <h3>Category Content</h3>
    <hr />
    <h4><em>Title:</em></h4>
    <input type="text" name="title" id="category" autofocus />

    <hr />
    <input type="submit" value="Add Category" class="add-post-button" />

  </form>

  <hr />
</div>